
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #393e47;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}


.wrapper {
  height: 20vh;
  /*This part is important for centering*/
  display: flex;
  align-items: center;
  justify-content: center;
}

.typing-demo {
  width: 33ch;
  animation: typing 4s steps(33), blink .5s step-end infinite alternate;
  white-space: nowrap;
  overflow: hidden;
  border-right: 3px solid;
  font-family: monospace;
  font-size: 2em;
}

@keyframes typing {
  from {
    width: 0
  }
}
    
@keyframes blink {
  50% {
    border-color: transparent
  }
}


.header-box {
display: flex;
flex-direction: row;
text-align: center;
align-items: center;
justify-content: center;
background-color: #e3dcfb;
border-radius: 10px;
padding: 10px;

}

@media (max-width: 415px){
  .header-box {
  display:flex;
  flex-direction:column;
  }
}

.text-box{
  margin-left: 20px;
  margin-right: 20px;
  color: black;
  font-family: monospace;
  font-size: 50px;
  font-weight: 100;
  width: 32rem;
}

.MyImage {
  width: 500px;
}

.footer{
  background-color: #393e47;
  color: white;
  font-family: monospace;
  font-size: 20px;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  
}
.contact{
  display: flex;
justify-content: space-around;
}



@media (max-width: 480px){

  .App {
    text-align: center;
  }
  
  .App-logo {
    height: 40vmin;
    pointer-events: none;
  }
  
  @media (prefers-reduced-motion: no-preference) {
    .App-logo {
      animation: App-logo-spin infinite 20s linear;
    }
  }
  
  .App-header {
    background-color: #393e47;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }
  
  
  .wrapper {
    height: 20vh;
    /*This part is important for centering*/
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .typing-demo {
    width: 33ch;
    animation: typing 4s steps(33), blink .5s step-end infinite alternate;
    white-space: nowrap;
    overflow: hidden;
    border-right: 3px solid;
    font-family: monospace;
    font-size: 1em;
  }
  
  @keyframes typing {
    from {
      width: 0
    }
  }
      
  @keyframes blink {
    50% {
      border-color: transparent
    }
  }
  
  
  .header-box {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  background-color: #e3dcfb;
  border-radius: 10px;
  padding: 10px;
  
  }
  
  @media (max-width: 415px){
    .header-box {
    display:flex;
    flex-direction:column;
    margin-bottom: 10px;
    }
  }
  
  .text-box{
    margin-left: 20px;
    margin-right: 20px;
    color: black;
    font-family: monospace;
    font-size: 38px;
    font-weight: 100;
    width: 18rem;
    
  }
  
  .MyImage {
    width: 300px;
  }
  
  .footer{
    background-color: #393e47;
    color: white;
    font-family: monospace;
    font-size: 10px;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    
  }
  .contact{
    display: flex;
    flex-direction: column;
    align-items: center;
  
  }

}