.education {
  background-color: #606398;
  width: 100%;
  height: 100%;
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.box {
  width:40%;
  background-color: white;
  margin-left: 140px;
  margin-bottom: 100px;
  margin-top: 100px;
  min-height: 760px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.title {
  font-size: 30px;
  font-family: monospace;
}
.education-subtitle {
  font-size: 18px;
  font-family: monospace;
  margin-top: -20px;
}
.education-list {
  font-family: monospace;
  font-size: 20px;
  text-align: justify;
  margin-inline: 40px;
}

.buttons {
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
}

.BackNext{
  height: 65px;
  background-color: #e3adeb;
  width: 100px;
  border-radius: 20px;
  font-size: 20px;
  font-family: monospace;
  box-shadow: -5px 5px 10px 0px #6a54b2

}
.BackNext:hover{
  background-color: #d496dd;
  box-shadow: 0px 0px 5px 0px #6a54b2;
}


@media (max-width: 480px) {
  .education {
    background-color: #606398;
    width: 100%;
    height: 100%;
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  
  .box {
    width: 85%;
    background-color: white;
    margin-left: 30px;
    margin-bottom: 50px;
    margin-top: 50px;
    min-height: 478px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }
  
  .title {
    font-size: 20px;
    font-family: monospace;

  }
  .subtitle{
    font-size: 20px;
    font-family: monospace;

  }
  .education-subtitle {
    font-size: 18px;
    font-family: monospace;

  }
  .education-list {
    font-family: monospace;
    font-size: 15px;
    text-align: justify;
    margin-inline: 10px;
  }
  
  .buttons {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
  }
  
  button{
    height: 65px;
    background-color: #e3adeb;
    width: 100px;
    border-radius: 20px;
    font-size: 20px;
    font-family: monospace;
    box-shadow: -5px 5px 10px 0px #6a54b2
  
  }
  button:hover{
    background-color: #d496dd;
    box-shadow: 0px 0px 5px 0px #6a54b2;
  }
}