* {
    box-sizing: border-box;
}
.skills{
background-color: #606398;
width: 100%;
height: 100%;
margin-top: 10px;
margin-bottom: 50px;
}


.columna {
    float: left;
    width: 33%;
    padding-right: 5px;
    padding-top: 40px;
    padding-left: 20px;
    padding-bottom: 40px;
}

.fila::after {
    content: "";
    clear: both;
    display: table;
}

img {
    /* Para que sea responsiva */
    width: 50%;
}

@media (max-width: 480px) {
    * {
        box-sizing: border-box;
    }
    .skills{
    background-color: #606398;
    width: 100%;
    height: 100%;
    margin-top: 10px;
    margin-bottom: 50px;
    }
    
    
    .columna {
        float: left;
        width: 33%;
        padding-right: 5px;
        padding-top: 40px;
        padding-left: 20px;
        padding-bottom: 40px;
    }
    
    .fila::after {
        content: "";
        clear: both;
        display: table;
    }
    
    img {
        /* Para que sea responsiva */
        width: 95%;
    }
}